<header class="w-100 p-3" id="5">
    <div class="d-md-flex d-sm-block col-md-12 p-2 justify-content-around">
        <a class="m-auto btn btn-dark" (click)="goTo(5)">
            pic
        </a>
        <button class="m-auto btn btn-dark" (click)="goTo(1)">About Me</button>
        <button class="m-auto btn btn-dark" (click)="goTo(2)">Projects</button>
        <button class="m-auto btn btn-dark" (click)="goTo(3)">Work Experience</button>
        <button class="m-auto btn btn-dark" (click)="goTo(4)">Education</button>
    </div>
</header>

<app-home [choice]="id"></app-home>