.btn-dark {
    background-color: #0f4c75;
    border: none;
}
.btn-dark:hover {
    background-color: #bbe1fa;
    color: #1F1B24;
}
header {
    background-color: #1b262c ;
}

.btn {
    color:white;
    font-family:inherit;
    font-size: inherit;
    // background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid #1d3e53;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 #1d3e53;
    transition: all 0.2s;
  }
  
  .btn:last-child {
    margin: 0;
  }
  
  .btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }

  @media only screen and (max-device-width: 767px) {
    .btn:focus, .btn:active {
      box-shadow: 0.4rem 0.4rem 0 black;
      transform: translate(-0.4rem, -0.4rem);
    }
  }
  