<div class="text-white bg-dark">
  <div class="card-header">
    Work Experience
  </div>
  <div class="card-body">
    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <h2>Tata Consultancy Services</h2>
          <ul class="content-skills">
            <li class="timeline-content-info-title">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              Full Stack Developer
            </li>
            <li class="timeline-content-info-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              July 2019 - Present
            </li>
          </ul>
          <p>Working alongside the designer team implementing the designs, also developing custom solutions to address
            team necessities.</p>
          <ul class="content-skills">
            <li>Angular 10</li>
            <li>NGRX</li>
            <li>Bootstap 4</li>
            <li>Spring Boot</li>
            <li>AEM</li>
            <li>Responsive Design Development</li>
            <li>JavaScript</li>
          </ul>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
          <h2>Tata Consultancy Services</h2>
          <ul class="content-skills">
            <li class="timeline-content-info-title">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              Intern
            </li>
            <li class="timeline-content-info-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              June 2018 - August 2018
            </li>
          </ul>
          <p>Devloped and Designed a working application that can detect emotions on a single person</p>
          <ul class="content-skills">
            <li>Machine Learning</li>
            <li>SciPy</li>
            <li>Python</li>
            <li>Pandas</li>
            <li>Neural Networks</li>
          </ul>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
          <h2>Tata Consultancy Services</h2>
          <ul class="content-skills">
            <li class="timeline-content-info-title">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              Intern
            </li>
            <li class="timeline-content-info-date">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              May 2017 - Jun 2017
            </li>
          </ul>
          <p>Developed and Designed a working application where cache preservation between two completly different
            newtworks were done</p>
          <ul class="content-skills">
            <li>Java</li>
            <li>Spring Boot</li>
            <li>Apache Ignite</li>
            <li>Block Chain</li>
            <li>Scala</li>
          </ul>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

    </section> <!-- cd-timeline -->
  </div>
</div>